<!DOCTYPE html>
<html>
<title>#(_sellerUser.title??)</title>
#include ("/_includes/header.html")
<body>
<div class="content weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">订阅授权</h2>
    <p class="weui-msg__desc">授权成功</p>
  </div>
  <!-- <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="#(webctx)/index" class="weui-btn weui-btn_default">返回</a>
    </p>
  </div> -->
</div>


