<!-- start: Header -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="menu-items">
            <li class="nav-header">
                <div class="dropdown profile-element" style="margin-bottom: 5px;margin-top: 2px;">
                    <span><img alt="image" class="img-circle" style="width: 30px;height: 30px;" src="#(webctx)/resources/images/dianbuLogo.png" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                        <span class="clear"><span class="block m-t-xs"><strong class="font-bold">微助手</strong></span></span>
                    </a>
                </div>
                <div class="logo-element" style="font-size: 3px;">WEAPP</div>
            </li>
            <li id="menu-home"><a class="J_menuItem" href="#(webctx)/index"><i class="fa fa-home"></i><span class="nav-label">首页</span></a></li>
            <li id="menu-seller"><a class="J_menuItem" href="#(webctx)/seller"><i class="fa fa-building"></i><span class="nav-label">用户</span></a></li>
            <li id="menu-weapp"><a class="J_menuItem" href="#(webctx)/weapp"><i class="fa fa-gg-circle"></i><span class="nav-label">授权账户</span></a></li>
            <li id="menu-invitecode"><a class="J_menuItem" href="#(webctx)/invitecode"><i class="fa fa-creative-commons"></i><span class="nav-label">邀请码</span></a></li>
            <li id="menu-activity"><a class="J_menuItem" href="#(webctx)/activity"><i class="fa fa-gg-circle"></i><span class="nav-label">活动列表</span></a></li>
            <li id="menu-app"><a class="J_menuItem" href="#(webctx)/app"><i class="fa fa-gg-circle"></i><span class="nav-label">应用管理</span></a></li>
            <li id="menu-payconfig"><a class="J_menuItem" href="#(webctx)/setting/payconfig"><i class="fa fa-gg-circle"></i><span class="nav-label">支付配置</span></a></li>
            <!-- <li id="menu-company"><a class="J_menuItem" href="#(webctx)/company"><i class="fa fa-mail-forward"></i><span class="nav-label">企业导入</span></a></li>
            <li id="menu-visitinfo"><a class="J_menuItem" href="#(webctx)/visitinfo"><i class="fa fa-mail-forward"></i><span class="nav-label">律师导入</span></a></li> -->
        </ul>
    </div>
</nav>
