#include ("/_includes/_layout.html")
#@layout("错误信息", "wxmall,点步科技", "Wxmall社区","wxmall") 
#define content()
<div class="wrapper wrapper-content">
	<div class="row animated fadeInLeft">
		<div class="row content-tabs">
			<nav class="page-tabs J_menuTabs">
		       <div class="page-tabs-content" style="margin-left: 0px;">
			       <a href="#(webctx)/weapp/sets/weapp" class="J_menuTab active">小程序</a>
		       </div>
		   	</nav>
		</div>
		<div class="ibox float-e-margins col-sm-10">
			<div class="ibox-title row">
				<h5><small><a href="#(webctx)/weapp/sets/weapp">《返回小程序发布列表</a></small></h5>
			</div>
			<div class="row ibox-content">
				<font color="red">已有小程序版本正在审核中，不允许发布</font>	            
			</div>
		</div>
	    <div class="col-sm-2">
	        <div class="wrapper-content">
	            <h4>帮助说明</h4>
	            <ol>
	                <li>打包小程序，并提交到微信审核</li>
	                <li>选择不同的模板，会有对应的小程序功能</li>
	            </ol>
	        </div>
     	</div>	
</div>
</div>    
#end