#include("/_includes/_layout_wechat.html")
#@layout(null, null,null,"")
#define content()
    <div class="wrapper wrapper-content">
    	<!-- <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>公众号总用户数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">0</h1>
                        <small>总用户</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>公众号今日活跃用户数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">0</h1>
                        <small>当日活跃</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">今天</span>
                        <h5>新关注用户数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">0</h1>
                        <small>新访客</small>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="row">
        <div class="col-sm-12">
            <blockquote class="text-success" style="font-size:14px">
            	经营有赞店铺多年，积累了不少的粉丝后...
                <br>您是否一直在寻找一款适合自己的基于有赞店铺的微信公众号运营助手...
                <br>您是否想把您的新上线商品，新的促销活动等第一时间通知您的店铺粉丝...
                <br>您是否想把您的商品群发给您的每一位您想要发送的优质粉丝，促进成交...
                <br>您的店铺粉丝在访问您的公众号的时候，您是否想能够第一时间知道...
                <h4 class="text-danger">那么，现在这款软件就适合你...</h4>
                <!-- <h2 class="text-danger"><a href="https://help.youzan.com/displaylist/detail_4_908" target="_blank" style="color:red;">点我查看有赞第三方插件使用方法</a></h2> -->
                <h2 class="text-danger">如何使用本软件，请加入点步有赞插件支持QQ群376490170</h2>
            </blockquote>
            <hr>
        </div>
        <div class="col-sm-3">
        	<div class="ibox float-e-margins">
        	<div class="ibox-title">	
            <small>请扫描二维码关注我们，及时了解软件动态以及版本升级信息，感谢您的支持</small>
            </div>
            <div class="ibox-content">
            <img src="#(webctx)/resources/img/qrcode-dbumama.jpg" width="100%" style="max-width:200px;">
            </div>
            </div>
        </div>
        <div class="col-sm-4">
        	<div class="ibox float-e-margins">
        	<div class="ibox-title">	
            <h2>使用教程</h2>
            </div>
            <div class="ibox-content">
            <ol>
                <li>配置您的店铺公众号，如已配置请忽略</li>
                <li>去有赞插件中心，配置本软件插件地址</li>
                <li><a href="https://help.youzan.com/displaylist/detail_4_908" target="_blank" style="color:red;">点我查看有赞第三方插件使用方法</a></li>
                <li><a href="#(webctx)/wechat/set" style="color:red;">点我配置店铺公众号</a></li>
                <li>软件支持QQ群376490170</li>
                <li>紧急联系电话13533109940</li>
            </ol>
            </div>
            </div>
        </div>
        <div class="col-sm-5">
        	<div class="ibox float-e-margins">
        	<div class="ibox-title">
            <h2>更新公告</h2>
            <small>本软件提供给有赞商家使用，帮助有赞商家运营店铺微信公众号。</small>
            </div>
            <div class="ibox-content">
            <ol>        
            <li><p>自动回复支持小程序，以及图片回复</p></li>
            <li><p>客服群发支持图片，以及小程序群发</p></li>
            <li><p>客服群发支持根据有赞粉丝订单金额，订单数量，当天粉丝进行群发</p></li>
            </ol>
            <p></p>
            <p><b>当前版本：</b>v0.0.1</p>
            </div>
            <div class="ibox-content">
            <ol>        
            <li><p>自动回复增加关键字回复</p></li>
            <li><p>自动回复增加关注后回复</p></li>
            <li><p>模板群发支持根据有赞粉丝订单金额，订单数量，当天粉丝进行群发</p></li>
            </ol>
            <p><b>当前版本：</b>v0.0.1</p>
            </div>
            </div>
        </div>
        </div>
    </div>
#define script()
#end
#end